<div *ngIf="loadedProducts">
    <div class="col padding-10">
        <span><b>Dress </b>- {{loadedProducts.response.numberOfProducts}} Items</span>
    </div>
    <div class="col-sm-3 section-border text-center" *ngFor="let product of loadedProducts?.response?.products">
        <span class="block">
            <img class="img-rounded" src="{{product.productImage}}" alt="{{product.categoryType}}" width="100%" height="100%">
            <span class="inline" *ngFor="let color of product.color">
                <div class="productColor" [style.backgroundColor]="color"></div>
            </span>
        </span>
        <span class="text-center product-detail block" title={{product.title}}>
            <a class="pointer-cursor" (click)="selectedProduct(product)">{{product.title}}</a>
        </span>
        <span class="text-center block">
            <span [ngClass]="{'sortPrice': getSortPrice(product)}">${{product.price}}</span>
            <span *ngIf="getSortPrice(product)"> ${{product.sortPrice}}</span>
        </span>
    </div>
</div>